.sidebar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 1000%;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap:1rem;
    box-shadow: (14px, 10px, 30px, '#f39a67');
    transition: ease-in;
    transform: translate(-100%);
}

.show-sidebar{
    transform: translate(0);
}