
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    color: black;
}

.Toggle-button{ 
    background: lightblue; 
    border: 5px solid lightcyan;
    font-size: 24px;
    padding: 4px;
    height: 35px; 
    display: none;
 }

.links{
    list-style-type: none;
    display: flex;
    gap: 8px;
    font-size: 24px;
}

.links .link-items a{
    color: rgb(35, 37, 37);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.social-icons{
    display: flex;
    gap: 16px;
    margin-right:20px ;
}

.icons a{
    color: rgb(252, 252, 252);

}

@media screen and  (min-width: 430px) {

    nav{
        background-color: rgb(247, 221, 189);

    }

    .Logo{
        font-size: 16px;
    }
    
    .Toggle-button{
       position: absolute;
       right: 0px;
       background-color: rgb(17, 183, 238); 
       color: aqua;
       border: none;
       border-radius: 8px ;
       font-size: 20px;
       padding: 6px;
       height: 35px; 
       display: block;
       
    }

    .links, li{
      margin: auto;
      font-size: 16px;
    }

    .social-icons{
        position: absolute;
        right: -19px;
        background-color: rgb(165, 165, 155);
        height: 200px;
        width: 150px;
        border: none;
        border-radius: 8px;
        top:70px;
        display: none;
    
    }

    .icons {
        position: relative;
        bottom: -80px;
    
    }
    
    .icons i{
        color: rgb(7, 34, 27);
    }
}




/* By defaults links are hidden */
/* .links{
    /* height: 0;
    overflow: hidden;
    transition: ; */
/* } */ 

.show-links{
    height: 10rem;
}